@import '../globals';

.root {
  background-color: rgba($black, 0.75);
  color: $white;
  padding: 1rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  img {
    height: 32px;
  }
}
