@use 'sass:math';
@import '../globals';

.root {
  position: relative;
}

.menu {
  @include ul-norm;
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: rgba($black, 0.75);
  width: 90vw;
  border-radius: 8px;

  li {
    a {
      display: block;
      padding: 1rem;
    }
  }

  &--shown {
    display: flex;
    flex-direction: column;
  }
}

.button {
  @include button-norm;
  color: $primary;
  font-size: 1.25rem;
}
