@mixin body-norm {
  margin: 0;
}

@mixin a-norm {
  color: inherit;
  text-decoration: none;
}

@mixin ul-norm {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin button-norm {
  background-color: transparent;
  border: none;
  outline: none;
}

@mixin figure-norm {
  margin: 0;
}
